@using Admin.ViewModel.BibleBookList
@model BibleBookListDetailsViewModel

@{
    ViewData["Title"] = "Admin - Bible Book List Details";
}

@section VendorStyles {
    <link rel="stylesheet" type="text/css" href="~/lib/jquery/datatables/jquery.dataTables.min.css">
}

@section PageStyles {
}

@section VendorScripts {
    <script src="~/lib/jquery/datatables/jquery.dataTables.min.js"></script>
}

@section PageScripts {
    <script src="~/js/bibleversion/details.js"></script>
}

<div class="container-fluid">
    <div class="social-dash-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Bible Book List Edit</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="uil uil-estate"></i>Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="BookLists" asp-action="Index">Bible Book List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="mt-40 mb-50">
                                <div class="edit-profile__body">
                                    <div class="row">
                                        <input asp-for="Id" type="hidden">
                                        <div class="form-group col-12 mb-3">
                                            <label asp-for="Name">Name</label>
                                            <input asp-for="Name" class="form-control" placeholder="Name" disabled />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Book List</h3>
                    </div>
                    <div class="card-body">
                        <table id="biblebookdatatables" class="table">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Name</th>
                                    <th>Chapters</th>
                                    <th>Testament</th>
                                    <th>Genre</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.BookLists != null && Model.BookLists.Any())
                                {
                                    for (int i = 0; i < Model.BookLists.Count; i++)
                                    {

                                        <tr>
                                            <td>@Model.BookLists[i].b</td>
                                            <td>@Model.BookLists[i].n</td>
                                            <td>@Model.BookLists[i].c</td>
                                            <td>@Model.BookLists[i].t</td>
                                            <td>@Model.BookLists[i].g</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-12 col-lg-6 my-3 d-flex align-items-end">
                            <span>
                                <strong>Created Date</strong> : @Model.CreatedDate | <strong>Last Updated Date</strong> : @Model.LastUpdatedDate
                            </span>
                        </div>
                        <div class="col-12 col-lg-6 my-3 d-flex align-items-end justify-content-end">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
