@model BibleVersionViewModel

@{
    <script src="~/js/bible-view/bible-view.js"></script>
}

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h3>@Model.Version</h3>
                <p></p>
                <p>Table : @Model.Table</p>
                <p>Abbreviation : @Model.Abbreviation</p>
                <p>Language : @Model.Language</p>
                <p>InfoText : @Model.InfoText</p>
                <p>InfoURL : @Model.InfoURL</p>
                <p>Publisher : @Model.Publisher</p>
                <p>Copyright : @Model.Copyright</p>
                <p>CopyrightInfo : @Model.CopyrightInfo</p>
            </div>
        </div>
    </div>
    <div class="col-4 h-100">
        <div class="card">
            <div class="card-body">
                <h3>Book List</h3>
                <ul class="list-unstyled ps-0">
                    @if (Model.BibleBookLists != null && Model.BibleBookLists.Any())
                    {
                        for (int i = 0; i < Model.BibleBookLists?.Count; i++)
                        {
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#book-@(Model.BibleBookLists[i].b)-collapse" aria-expanded="false">
                                    @Model.BibleBookLists[i].b @Model.BibleBookLists[i].n (@Model.BibleBookLists[i].c)
                                </button>
                                <div class="collapse" id="book-@(Model.BibleBookLists[i].b)-collapse" style="">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        @if (Model.BibleBookLists != null && Model.BibleBookLists.Any())
                                        {
                                            for (int a = 0; a < Model.BibleBookLists[i].c; a++)
                                            {
                                                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded chapter" data-bible="@Model.Abbreviation" data-book="@Model.BibleBookLists[i].b" data-chapter="@(a + 1)">Chapter @(a + 1)</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bibleModal" tabindex="-1" aria-labelledby="bibleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bibleModalLabel">Chapter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>