<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GIWU | @ViewData["Title"]</title>

    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon.png">

    <!-- Main Styles -->
    @await Html.PartialAsync("Layout/_MainStyles")

    <!-- Vendor Styles -->
    @RenderSection("VendorStyles", required: false)
    
    <!-- Page Styles -->
    @RenderSection("PageStyles", required: false)

    <!-- Main Scripts -->
    @await Html.PartialAsync("Layout/_MainScripts")

    <!-- Vendor Scripts -->
    @RenderSection("VendorScripts", required: false)
    
</head>

<body class="layout-light side-menu">
    <div class="mobile-search">
        <form action="/" class="search-form">
            <img src="~/img/svg/search.svg" alt="search" class="svg">
            <input class="form-control me-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
        </form>
    </div>
    <div class="mobile-author-actions"></div>
    
    @await Html.PartialAsync("Layout/_HeaderTop")

    <main class="main-content">
        
        @await Html.PartialAsync("Layout/_Sidebar")

        <div class="contents">

            @RenderBody()

        </div>

        @await Html.PartialAsync("Layout/_Footer")

    </main>

    <!-- Page Scripts-->
    @RenderSection("PageScripts", required: false)

</body>

</html>